form {
  margin: 20px;
}

label {
  display: block;
  }

input {
  margin: 20px 0 0 10px;
}

input[type="checkbox"] {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 20px;
}

span {
  color: red;
  font-size: 22px;
  margin-left: 20px;
}